@import './schedule.scss';

html, body, .wrapper {
  height: 100% !important;
  width: 100% !important;
}

.selected {
  background-color: #51cbce !important;
  border: none !important;
}

.closed {
  background-color: #ef8157 !important;
}

.available {
  background-color: #6bd098 !important;
}